{
  "log": {
    "_recordingName": "iterateMachines",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b4391da807354cda8b8ffaab25e22621",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/19ae0f99-6fc6-444b-bd54-97504efc66ad/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1547,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ms-srs",
              "value": "1.P"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 416,
      },
      {
        "_id": "aa33ceaf98a63b8bd52b3986a9ee06cb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.securitycenter.microsoft.com/api/machines"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
            "size": 3240,
            "text": "[\"5Ftdc9u4Ff0vah9DGt8ffKodx0066+xO401nurMPIAjIzEqiSlKOs5n89x5QlmzZcprYShy7nokzAqELgADOuffc64+jvzWV613um1kfzvtRMTrt+3lX7O25eZ13wS/auv/gA562+bT2bdM1sUf3aeqw99dp6F0y8Jdj50/rWehGz0ZnbrIIo+K3j6O6gkEmKJGqVJYR7pQiQUtGvfG8jJ4JraLxkblA8M1paMehejXrmwtzr2BgtphMno3q7pemxzRqNzlczCe1d33dzEZFdJMupMcvzv1kUQV84aIppIYOnf4ZXJe6Lg1h6vMFVnM46167KeY5entM86[...]
