{
  "log": {
    "_recordingName": "fetchMetadata",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b403352d03ca320f7aafd080b7496b1b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/5a721b05-53ed-4ed9-be02-aed28f11edbd/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1789,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 257,
      },
      {
        "_id": "0d4d60ea9e848636a220ced3447e81fb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "sdkversion",
              "value": "graph-js/2.2.1 (featureUsage=7)"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://graph.microsoft.com/v1.0/"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json",
            "size": 1210,
            "text": "[\"H4sIAAAAAAAECg==\",\"lJdNb9tIDIb/i7DHIOnu0adNu0UuLWo0eyt6oGdoiRvNBzgjb9wi/72QZEu0JFPu1Xiedzhf1Phn8XewkOHeBJ/xNReboso5ps3DQ8kQq3tHhkMK+3xvgns4/Hn/7uEPhxlaqbgrDlA3WGy+/Sw8OCw2BfkDZcgUfCruihfyttgUH32mfHzGXNwVDdcT7O1usJuErHo9IAyIsSbTDfgvulhDRjVgkZd5Ta7Q51PkZ8xVsB+C31PZ8Pq0YN0WY5FtR8rHLYcD2ZWZz2GRJGZ16+xTIXyDnGnfThrfQ0L72OTqYtbaXq7LcqTgM5isVtmexY6ZeHyL2EPCtHggox+KMyItYjQ58PHL7j9cqddO2aWcr6FeKeKc0p[...]
