{
  "log": {
    "_recordingName": "iterateMachinesInaccessible",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ce4aa9e171cdc6e1f418bd89797686b4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/9c48d2a3-ec56-411a-96b4-af7c7b445514/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1437,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 228,
      },
      {
        "_id": "d3d7964832549a688fd8c5a8a88ac9e2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.securitycenter.microsoft.com/api/machines"
        },
        "response": {
          "content": {
            "mimeType": "application/json; odata.metadata=minimal",
            "size": 141,
            "text": "{\"error\":{\"code\":\"Unauthorized\",\"message\":\"Authorization has been denied for this request.\",\"target\":\"d2ec09f0-2b83-4c44-84bf-2426e91bc9fa\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; odata.metadata=minimal"
            },
            {
              "name": "odata-version",
              "value": "4.0"
            },
            {
              "name": "www-authenticate",
              "value": "Bearer"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 687,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
