{
  "log": {
    "_recordingName": "invalid tenant",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b4391da807354cda8b8ffaab25e22621",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/abc123testing/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 527,
            "text": "{\"error\":\"invalid_request\",\"error_description\":\"AADSTS900023: Specified tenant identifier 'abc123testing' is neither a valid DNS name, nor a valid external domain. Trace ID: 959ece44-2e44-4bf5-ac7d-8e3f0917dd00 Correlation ID: 5b39a330-2d2c-4e03-b2d1-dbf020224bc8 Timestamp: 2024-03-26 02:42:32Z\",\"error_codes\":[900023],\"timestamp\":\"2024-03-26 02:42:32Z\",\"trace_id\":\"959ece44-2e44-4bf5-ac7d-8e3f0917dd00\",\"correlation_id\":\"5b39a330-2d2c-4e03-b2d1-dbf020224bc8\",\"error_uri\":\"https://login.microsoftonline.com/error?code=900023\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ms-srs",
              "value": "1.P"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 422,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
