{
  "log": {
    "_recordingName": "invalid tenant",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "aa33ceaf98a63b8bd52b3986a9ee06cb",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "api-version",
              "value": "1.1"
            },
            {
              "name": "authorization_endpoint",
              "value": "https://login.microsoftonline.com/abc123testing/oauth2/v2.0/authorize"
            }
          ],
          "url": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1&authorization_endpoint=https%3A%2F%2Flogin.microsoftonline.com%2Fabc123testing%2Foauth2%2Fv2.0%2Fauthorize"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 957,
            "text": "{\"tenant_discovery_endpoint\":\"https://login.microsoftonline.com/abc123testing/v2.0/.well-known/openid-configuration\",\"api-version\":\"1.1\",\"metadata\":[{\"preferred_network\":\"login.microsoftonline.com\",\"preferred_cache\":\"login.windows.net\",\"aliases\":[\"login.microsoftonline.com\",\"login.windows.net\",\"login.microsoft.com\",\"sts.windows.net\"]},{\"preferred_network\":\"login.partner.microsoftonline.cn\",\"preferred_cache\":\"login.partner.microsoftonline.cn\",\"aliases\":[\"login.partner.microsoftonline.cn\",\"login.chinacloudapi.cn\"]},{\"preferred_network\":\"login.microsoftonline.de\",\"preferred_cache\":\"login.microsoftonline.de\",\"aliases\":[\"login.microsoftonline.de\"]},{\"preferred_network\":\"login.microsoftonline.us\",\"preferred_cache\":\"login.microsoftonline.us\",\"aliases\":[\"login.microsoftonline.us\",\"login.usgovcloudapi.net\"]},{\"preferred_network\":\"login-us.microsoftonline.com\",\"preferred_cache\":\"login-us.microsoftonline.com\",\"aliases\":[\"login-us.microsoftonline.com\"]}]}"
          },
            {
              "domain": ".login.microsoftonline.com",
              "httpOnly": true,
              "name": "esctx",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 373,
      },
      {
        "_id": "aa33ceaf98a63b8bd52b3986a9ee06cb",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://login.microsoftonline.com/abc123testing/v2.0/.well-known/openid-configuration"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 667,
            "text": "{\"error\":\"invalid_tenant\",\"error_description\":\"AADSTS90002: Tenant 'abc123testing' not found. Check to make sure you have the correct tenant ID and are signing into the correct cloud. Check with your subscription administrator, this may happen if there are no active subscriptions for the tenant.\\r\\nTrace ID: 65ec9ae9-c446-4521-83d2-cd964403f301\\r\\nCorrelation ID: bac4e3dc-9718-4f09-bfdd-49063419d966\\r\\nTimestamp: 2022-09-14 05:56:29Z\",\"error_codes\":[90002],\"timestamp\":\"2022-09-14 05:56:29Z\",\"trace_id\":\"65ec9ae9-c446-4521-83d2-cd964403f301\",\"correlation_id\":\"bac4e3dc-9718-4f09-bfdd-49063419d966\",\"error_uri\":\"https://login.microsoftonline.com/error?code=90002\"}"
          },
            {
              "domain": ".login.microsoftonline.com",
              "httpOnly": true,
              "name": "esctx",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 231,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
