{
  "log": {
    "_recordingName": "iterateMachines_pagination",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b4391da807354cda8b8ffaab25e22621",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/19ae0f99-6fc6-444b-bd54-97504efc66ad/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1589,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ms-srs",
              "value": "1.P"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 486,
      },
      {
        "_id": "aa33ceaf98a63b8bd52b3986a9ee06cb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "$top",
              "value": "1"
            },
            {
              "name": "$skip",
              "value": "0"
            }
          ],
          "url": "https://api.securitycenter.microsoft.com/api/machines?%24top=1&%24skip=0"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
            "size": 915,
            "text": "[\"jFTLbtswEPwXtcfIoh52LJ/qPFCkSNKgeRwa5LAiVzYbihRISnEa+N+7tC3bRS+9COByODs7u6uP6IsR4GHEjfa48tEsWnrfulmSQCtHDnlnpX/nSLd21EhujTO1J3gTAMnnBj0Egk83wJdSo4tOoh5Uh9Hs+SOSgghZmmWiqianhah4wfMih5zlOWMTZCXnMC3rcZZxoJcN2gWKK+3Nju6KCHSn1Ekk3Z3xJEOCuuhaJTl4aXQ0q0E5DNeXK646gfRgF8IQcAT6geACdEtE0tuOqrnQ7hYa0hk9NZcraFqFpKCW1vl7RIJHGcuKmBVxVjyk5SyfzNh0lBZ[...]
