{
  "log": {
    "_recordingName": "fetchOrganization",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b403352d03ca320f7aafd080b7496b1b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/5a721b05-53ed-4ed9-be02-aed28f11edbd/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1789,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 232,
      },
      {
        "_id": "39cb0d299503e6ab1f6a07ceece09c83",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "sdkversion",
              "value": "graph-js/2.2.1 (featureUsage=7)"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://graph.microsoft.com/v1.0/organization"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
            "size": 1286,
            "text": "[\"H4sIAAAAAAAECg==\",\"xJbbbts4EIZfZcHtpZhQFHW8ahC3QICcFg6wwBa+GJIjh1iJNEjKWzfwuxd0HKfppk1TdLGXpkczH+f/NaM78tZpiHCknI34MZKO3Ma4Ct3x8dLD6vZoNMq74Pp4pNx4vM6P2PGbESOkh353fgnWfIJonCUZWcMwIek+3BGjSUdKqHkuWUnLAjUVqFsqkXEKqHnT5zlqqUlGNA4YUc8g4o0ZkXR2GoaMyCkYiyFc3zqLgXQfSCvaQpR1yyqyyIgycZNoNxo9SEiZlJts9JuHDPuf5xgj+lOnkXTk[...]
