{
  "log": {
    "_recordingName": "iterateFindings_multiple_properties",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b403352d03ca320f7aafd080b7496b1b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/5a721b05-53ed-4ed9-be02-aed28f11edbd/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1573,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 177,
      },
      {
        "_id": "a1606e1ef51f01f0c3bfe62ec3cbc317",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "$filter",
              "value": "severity eq 'High'"
            }
          ],
          "url": "https://api.securitycenter.microsoft.com/api/machines/660688d26b586b005a90cc148bfb78ed8e55b32b/vulnerabilities?%24filter=severity%20eq%20%27High%27"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; odata.metadata=minimal",
            "size": 130,
            "text": "[\"Rc0xDgIhEIXhu4wWmhjoqTTuAbYwNsaChdk4CTAbGFyN8e5CZf2+/O8DR/ZWrHKcBF8CBh4iSzFa24VUQVczydthW7OK5DIXnqXx2IHeRhTbA5szh4BOiNPuz1ZKntcy4IzJYz5dRtWzY50CuWsNCbOdKLSHQXgPB3jaUBHM7f79AQ==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; odata.metadata=minimal"
            },
            {
              "name": "odata-version",
              "value": "4.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1047,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
