{
  "log": {
    "_recordingName": "iterateFindings_multiple_properties",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b403352d03ca320f7aafd080b7496b1b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/5a721b05-53ed-4ed9-be02-aed28f11edbd/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1573,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 82,
      },
      {
        "_id": "087c6d077516de8296232308d26c73af",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "$filter",
              "value": "severity eq 'High'"
            },
            {
              "name": "$top",
              "value": "1"
            }
          ],
          "url": "https://api.securitycenter.microsoft.com/api/machines/660688d26b586b005a90cc148bfb78ed8e55b32b/vulnerabilities?%24filter=severity%20eq%20%27High%27&%24top=1"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; odata.metadata=minimal",
            "size": 273,
            "text": "[\"fZBBSwMxEIX/S/Sg0O5mq0LZk9IWFBF7WPdg6SFNZt2BbBKS7Lal9L872YOCijCX+d7jzUtO7N4qEUUmrYlwiKxkbYwulHkuHGYBZO8xHiWQ6rMOpbfBNpHsXTLklx1EkQIuFlZrkBGtufq27dEouw9LaMAo8A/VOkux636nUda9NuDFDjVdWEZ7zSZsELoHVm5ODBV1WdSr6YzPZtNifndLshEd/IEVBOnRpeOkEggwQOpN2yN+tETkEEJ9w8p5Np8wODgbQL0I2aKBwMpiwlzqFFpQrymDc15Mx6k4L8d5p5Te0Vv/t4w5cnVw2iJ9ZyN0gPFi2mtq1SCon/zJPP82V0eXum22X+TN4wjO2/Mn\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; odata.metadata=minimal"
            },
            {
              "name": "odata-version",
              "value": "4.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1153,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
