{
  "log": {
    "_recordingName": "iterateUsers_multiple_properties",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b403352d03ca320f7aafd080b7496b1b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/5a721b05-53ed-4ed9-be02-aed28f11edbd/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1573,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 190,
      },
      {
        "_id": "f1db1669b580a03e04d2d57fd8a87044",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.securitycenter.microsoft.com/api/machines/e76b865d4bc0c2622547459464020e9e24f51f75/logonusers"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; odata.metadata=minimal",
            "size": 259,
            "text": "[\"fZBLSwNBEIT/ioweN/vCRZiTopccTMTEiyaHZrZjBuexTPdGl5D/7owbFYR47fq6iqq9uPYtMOTKO8YPFlJsmTuSRQGdzglVHzQPCqMacqtV8OQ3HHGbgOLCIkMyOH8iDCQysQPTo5Ave6Hb6MZIbEFttcNmtYLWaqeJA7APVaRBKd87noGNP+KUfOctaPfH7VdepCTXG5OJjQ7EC8QE12VdT8pmUjfLqpJ1Kcur5/hk4DRRXSbCeuKHgLFJrH0/xk1/IgzCv7J/9W45dEgxYIb87sNbdvaI1jNO04qgWO9QfJFzd/yn21Tk20PT2Pgm7SEkhx7Tce7McHRMa4/0YX34BA==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; odata.metadata=minimal"
            },
            {
              "name": "odata-version",
              "value": "4.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2144,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
