{
  "log": {
    "_recordingName": "iterateMachines",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1516b63bbbd1248fb3d97e8c05262f4a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/384c3195-931e-4755-8a97-62b3202609d8/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1532,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 401,
      },
      {
        "_id": "d3d7964832549a688fd8c5a8a88ac9e2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.securitycenter.microsoft.com/api/machines"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; odata.metadata=minimal",
            "size": 1627,
            "text": "[\"7Zptbxs3Ese/i+5eZlec4TNfnZP4rjk06QF2e8AVRcHHeBF5V9hdOUmDfPeblRzbqSOrdZRAvov1whA5OzMkh7/9k/a72d+65Edfx64d85tx5mZn47gc3Hzul021Gng95Ljqm/FtzGTR1+dN7LuhKyM9cj4Zzf96nkc/OfnLcx/PmjYPs0ezC79Y5Zn7+d2sSeRUJhQ+aLSBWWZSyN5qhRl8kgk8Cm2Vtbx4epLcLlcU6Wk7vPDn5GM25mE837jWZFCafhhPcm6pCxlixVQF6hTASeUYr5WF/5DZwt+20qegHTdOsBqUkgLlZNkN/1r4sXT9Odn+u2lT93oAtu74KfdD05GPdrVYrC37LuZh6HoyfaPENNI[...]
