{
  "log": {
    "_recordingName": "iterateMachines",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b403352d03ca320f7aafd080b7496b1b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/5a721b05-53ed-4ed9-be02-aed28f11edbd/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1573,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 522,
      },
      {
        "_id": "d3d7964832549a688fd8c5a8a88ac9e2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.securitycenter.microsoft.com/api/machines"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; odata.metadata=minimal",
            "size": 1600,
            "text": "[\"7Zhtb9xEEID/i+Fj17c7O/v6iaQpUEQBqQEkEELrfWmsXs4n25e2VP3vjC9pUqCXK8mlulTVfUl2x/OyM348O6+rr7oUxlDHbjHml2Plq5NxXA5+NgvLlq0GWQ85rvp2fBUzSfT1aRv7bujKSI+cTkKzL0/zGCYlXzwJ8aRd5KF6UJ2F+SpX/vfXVZtIqdZcW5tAN8rqhnMVHI9RoG1KY2xONivVSGjoSVK7XJGlo8XwQzglHdWYh/H0XLUhgdL2w/g05wVtAQdgXDHJj4X0wnmOtRHwG4nNw3+lxCQllRe8lhYRnJgku+GneRhL15+S7K/tInUvBsHXG7/kfmg70rFYzedryb6LeRi6nkRfapwifStSgfh[...]
