{
  "log": {
    "_recordingName": "iterateFindings_single_properties",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b403352d03ca320f7aafd080b7496b1b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/5a721b05-53ed-4ed9-be02-aed28f11edbd/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1573,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 138,
      },
      {
        "_id": "db55fc0406d19e11098d2fad1ac484b8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "$filter",
              "value": "severity eq 'High'"
            },
            {
              "name": "$top",
              "value": "5"
            }
          ],
          "url": "https://api.securitycenter.microsoft.com/api/machines/660688d26b586b005a90cc148bfb78ed8e55b32b/vulnerabilities?%24filter=severity%20eq%20%27High%27&%24top=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; odata.metadata=minimal",
            "size": 322,
            "text": "[\"7ZJNSwMxEIb/S/SgsN3uh4XtnpS2oIjYQ92DpYc0mXUD2SRssv2g9L87WVFBF8GrFnKZd15m3jzMgVxrTh0NmVYOdo7kpHLO2Hw4pEaEFljbCLdngN0mrAVrtNWlQ3vtDcPzGhz1A84mWkpgTmh18WnbCsX11k6hBMWhuVnMQz923q6lYEUrFTR0LSRumDp9SQKyobIFki8PRHDMMilmgyRKkkGcja6wrWgNPTIHyxph/HLsomBhAz43VrfipUKFbawtUpJnYRYQ2BltgT9QVgkFluRxQIzPZCvgj35GFEXxoHuLKMq794xTWoN//dnSzWGznZFaIM6SSgvdRl8XmKoUwL/qd+r+u3mxNz7bcvWhPDWiE45BD59RP5/Ric8biLSfT3rigyDSKE6yHkDv+q8IpX+REJ7KuP+Cxv/xglbHVw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; odata.metadata=minimal"
            },
            {
              "name": "odata-version",
              "value": "4.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1983,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
