{
  "log": {
    "_recordingName": "iterateFindings_single_properties",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1516b63bbbd1248fb3d97e8c05262f4a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/384c3195-931e-4755-8a97-62b3202609d8/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1532,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 124,
      },
      {
        "_id": "f872eb0a405b8ec5d1e39d1f6b4289e8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "$filter",
              "value": "severity eq 'HIGH'"
            },
            {
              "name": "$top",
              "value": "5"
            }
          ],
          "url": "https://api.securitycenter.microsoft.com/api/machines/0c4ccbde5e82eded51a533de002894276ce0617d/vulnerabilities?%24filter=severity%20eq%20%27HIGH%27&%24top=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; odata.metadata=minimal",
            "size": 130,
            "text": "[\"Rc0xDgIhEIXhu4wWmhjoqTTuAbYwNsaChdk4CTAbGFyN8e5CZf2+/O8DR/ZWrHKcBF8CBh4iSzFa24VUQVczydthW7OK5DIXnqXx2IHeRhTbA5szh4BOiNPuz1ZKntcy4IzJYz5dRtWzY50CuWsNCbOdKLSHQXgPB3jaUBHM7f79AQ==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; odata.metadata=minimal"
            },
            {
              "name": "odata-version",
              "value": "4.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2211,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
