{
  "log": {
    "_recordingName": "iterateUsers_single_properties",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1516b63bbbd1248fb3d97e8c05262f4a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.microsoftonline.com/384c3195-931e-4755-8a97-62b3202609d8/oauth2/v2.0/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1532,
            "text": "{\"token_type\":\"Bearer\",\"expires_in\":3599,\"ext_expires_in\":3599,\"access_token\":\"[REDACTED]\"}"
          },
            {
              "httpOnly": true,
              "name": "x-ms-gateway-slice",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "stsservicecookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 331,
      },
      {
        "_id": "fdde1d80fe9be16aea61937ffdf56ca9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.securitycenter.microsoft.com/api/machines/0c4ccbde5e82eded51a533de002894276ce0617d/logonusers"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; odata.metadata=minimal",
            "size": 261,
            "text": "[\"fZDNTsMwEIRfBRmOaRJHpQefQHDpgRbRcoFyWDlbauGfyLspRFXfHZsWkJDKdefbGc3sxFVogaHUwTN+sFBiw9yRqiroTEmo+2h40JjUWDqjY6Cw5oS7DFQXDhmywfkjYSRRiC3YHoV63gnTJjdGYgd6YzzK1QpaZ7whjsAhykSD1qH3PAOXfsQp+TY4MP6P26+8yEm+t7YQaxOJF4gZbuqmGdWTkayXslFyosaXT+nJwgmikaoeZ8IF4vuIqUmqfXeIm/5EWIR/5fAa/HLokFLADPk9xLfi7AFdYJzmFUGz2aL4Iuf++E83uci3h6FD4+u8h1Ace8zHubfD0TGvfaD3L/tP\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; odata.metadata=minimal"
            },
            {
              "name": "odata-version",
              "value": "4.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1246,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
